<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title><%= title %></title>
    <!--bower:css-->
    <link rel='stylesheet' href='/lib/bootstrap/dist/css/bootstrap.css' />
    <link rel='stylesheet' href='/lib/font-awesome/css/font-awesome.min.css' />
    <!--endbower-->
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!--bower:js-->
    <script src="/lib/angular/angular.js"></script>
    <script src="/lib/jquery/dist/jquery.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
    <!--endbower-->

</head>
<body>
<%- include partialViews/menu.ejs %>
<!-- Page Content -->
<div class="container">
    <div class="row">
    <form class="form-horizontal" action="/users/register" method="post">
        <h2 class="form-signin-heading">Register</h2>
        <div class="form-group">
            <label for="fname" class="col-sm-2 control-label">First Name</label>
            <div class="col-sm-10">
                 <input type="text" id="fname" name="fname" class="form-control" placeholder="First Name" required autofocus>
             </div>
         </div>

        <div class="form-group">
            <label for="lname" class="col-sm-2 control-label">Last Name</label>
            <div class="col-sm-10">
                <input type="text" id="lname" name="lname" class="form-control" placeholder="Last Name" required autofocus>
             </div>
         </div>

        <div class="form-group">
        <label for="email" class="col-sm-2 control-label">E-mail</label>
            <div class="col-sm-10">
              <input type="email" id="email" name="email" class="form-control" placeholder="E-mail" required>
            </div>
        </div>
        <div class="form-group">
            <label for="username" class="col-sm-2 control-label">Username</label>
            <div class="col-sm-10">
                <input type="text" id="username" name="username" class="form-control" placeholder="Username" required autofocus>
            </div>
        </div>
        <div class="form-group">
        <label for="password" class="col-sm-2 control-label">Password</label>
         <div class="col-sm-10">
             <input type="password" name="pwd" id="password" class="form-control" placeholder="Password" required>
         </div>
        </div>

        <div class="form-group">
            <label for="contact" class="col-sm-2 control-label">Contact</label>
            <div class="col-sm-10">
              <input type="password" name="contact" id="contact" class="form-control" placeholder="Contact Number" required>
            </div>
        </div>

        <div class="form-group">
        <label for="city" class="col-sm-2 control-label">City</label>
            <div class="col-sm-10">
                  <input type="text" name="city" id="city" class="form-control" placeholder="City Address" required>
           </div>
        </div>

        <div class="form-group">
                <label for="state" class="col-sm-2 control-label">State</label>
                <div class="col-sm-10">
                     <input type="text" name="state" id="state" class="form-control" placeholder="State" required>
                    </div>
             </div>
        <div class="form-group">
            <label for="country" class="col-sm-2 control-label">Country</label>
            <div class="col-sm-10">
              <input type="text" name="country" id="country" class="form-control" placeholder="Country" required>
            </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
             <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
          </div>
        </div>

    </form>
        </div>
    </div>
</body>
</html>