<div class="starter-template">
    <h1>Bootstrap starter template</h1>
    <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
    Add two number<input type="text" placeholder="Your First Name" ng-model="firstName">
    <input type="text" placeholder="Your Last Name" ng-model="lastName">
</div>
</br></br>Hello,
    {{ firstName + lastName}}

<ul>
    <li ng-repeat="user in userList">{{user.name}}</li>
</ul>
</div>
<!--
 <div ng-controller="controllerB">

 </div>-->